<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>  
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49573904?from=vacancy_search_list&amp;query=java%20Odessa">Java-разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Amdaris</td> 
     <td class="salary">от 38 000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49782968?from=vacancy_search_list&amp;query=java%20Odessa">Java Back-end Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Південний, акціонерний банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49385136?from=vacancy_search_list&amp;query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49222543?from=vacancy_search_list&amp;query=java%20Odessa">Java Developer at Wise to Estonia</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">TransferWise</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49222501?from=vacancy_search_list&amp;query=java%20Odessa">Java Developer at Wise (TransferWise) to Estonia</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">TransferWise</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49769267?from=vacancy_search_list&amp;query=java%20Odessa">Java Backend Developer (Middle / Senior)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Південний, акціонерний банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49320166?from=vacancy_search_list&amp;query=java%20Odessa">Full Stack Developer (Java+Python), Communication Services</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49676347?from=vacancy_search_list&amp;query=java%20Odessa">Senior / Middle Android разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">VicMan</td> 
     <td class="salary">от 3 000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49723797?from=vacancy_search_list&amp;query=java%20Odessa">Strong Junior Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Digis</td> 
     <td class="salary">1 500 – 3 000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49477159?from=vacancy_search_list&amp;query=java%20Odessa">Intern / Junior Android SW developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49332324?from=vacancy_search_list&amp;query=java%20Odessa">Intern / Junior Automation Test Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49332336?from=vacancy_search_list&amp;query=java%20Odessa">Intern / Junior Automation Test Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49142951?from=vacancy_search_list&amp;query=java%20Odessa">Intern / Junior Android</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49692502?from=vacancy_search_list&amp;query=java%20Odessa">Salesforce developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Wildix</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49241508?from=vacancy_search_list&amp;query=java%20Odessa">Salesforce Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Wildix</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/49384599?from=vacancy_search_list&amp;query=java%20Odessa">Salesforce Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Wildix</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/48345866?from=vacancy_search_list&amp;query=java%20Odessa">SAP ABAP Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ДТЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>